<!--HomePage-->

<!--Article Div-->
    <div class="container">
        <div class="articles">
            {{!-- {{#each Article}}
                <div class="card border-color">
                    <div class="card-header headline">
                        <h4>{{result.title}}</h4>
                    </div>
                    <div class="card-body">
                        <p> {{result.summary}}</p>
                        <a href={{result.link}} target="_blank">{{this.link}}</a>
                        <br>
                        <button type="button" class="btn btn-success save" data-id={{result._id}}>Save Article</button>    
                    </div>
                </div>
            {{/each}} --}}
        </div>
    </div>
