<!--Saved Articles Page-->
 <div class="container">
        <div class="articles">
            {{#each Article}}
                <div class="card border-color">
                    <div class="card-header headline">
                        <h4>{{result.title}}</h4>
                    </div>
                    <div class="card-body">
                        <p> {{result.summary}}</p>
                        <a href={{result.link}} target="_blank">{{this.link}}</a>
                        <br>
                        <button type="button" class="btn btn-secondary addNote" data-toggle="modal" data-target="#noteModal{{this._id}}" data-id={{this._id}}>Article Notes</button>
                        <button type="button" class="btn btn-dark delete" data-id={{this._id}}>Delete Article</button>   
                    </div>
                </div>
            {{/each}}
        </div>
    </div>